* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(200 220 230);
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
}

caption {
  caption-side: bottom;
  padding: 20px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}